*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    text-align: center;
    height: 600px;
}
.container img{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    max-width: 1000px;
    transition: 1s;
}

.bullets span{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

span.active{
    
    background-color: black;
}